{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>crear libro</h1>
    <form method="POST" action={% url 'crear_libro' %}>
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">titulo</label>
            <input
                type="text"
                class="form-control"
                name="titulo"
                id="titulo"
                aria-describedby="helpId"
                placeholder="titulo"
                required>

            <small id="helpId" class="form-text text-body-secondary"
                >Help text</small
            >
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">descripcion</label>
            <textarea 
                class="form-control"
                name="descripcion" 
                id="descripcion" 
                required>
            </textarea>
        </div>
        <div class="mb-3">
            <label for="autor">autor</label>
            <select class="form-select" name="autor" id="autor" required>

                <option value="autor" disabled selected>seleccionar autor</option>
                {% for autor in autores %}
                    <option value="{{ autor.id }}"> {{ autor.nombre }} </option>
                {% endfor %}
            </select>
        </div>
        <div class=mb-3>
            <input type="submit" class="btn btn-success" value="guardar">
        </div>
    </form>
</div>
{% endblock %}