{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form action="{%url 'editar_libro' libro.id %}" method='POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="titulo" class="form-label">titulo</label>
                <input
                    type="text"
                    class="form-control"
                    name="titulo"
                    id="titulo"
                    value="{{libro.titulo}}"
                />
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">descripcion</label>
                <textarea class="form-control" 
                name="descripcion" 
                id="descripcion" 
                >
                {{libro.descripcion}}
                </textarea>
            </div>
            <div class="mb-3">
                <label for="autor">autores</label>
                <select class="form-select" 
                name="autor" 
                id="autor"
                class="form-control">
                    {% for autor in autores %} 
                        <option value="{{ autor.id }}"
                            {%if autor.id == libro.autor.id %}
                            selected
                            {% endif %}>
                            {{ autor.nombre }} </option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-warning" value="actualizar"/>
        </form>
        <div class="container mb-2">
            <form action= "{% url 'eliminar_libro' libro.id %}" method='POST'>
                {% csrf_token %}
                <input type="submit" class= "btn btn-danger" value="eliminar"/>
            </form>
        </div>
    </div>
{% endblock  %}